search {{ startup_name }}
{% for master in groups['dns_master'] %}
nameserver {{ hostvars[master]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% for slave in groups['dns_slave'] %}
nameserver {{ hostvars[slave]['ansible_default_ipv4']['address'] }}
{% endfor %}
