[Unit]
Description=Pinger uses the command fping to retrieve metrics from fpinged websites
Documentation=https://github.com/romankuchin/ica0002-2021/blob/main/08-logging/08-files/pinger.service
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
