$TTL    604800
{{ startup_name }}.       IN      SOA     manmanmano-1.{{ startup_name }}. mariano.{{ startup_name }}. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
{% for vm in groups['dns_servers']%}
{{ startup_name }}.       IN      NS      {{ vm }} 
{% endfor %}
manmanmano-1       IN      A       {{ hostvars['manmanmano-1']['ansible_default_ipv4']['address'] }}
manmanmano-2       IN      A       {{ hostvars['manmanmano-2']['ansible_default_ipv4']['address'] }}
backup       IN      A       {{ backup_server_ip }}
