acl lans { {%for network in dns_networks%} {{ network }}; {%endfor%} };

options {
        directory "/var/cache/bind";

        forwarders {
{%for forwarder in dns_forwarders-%} 
            {{ forwarder }};
{%endfor%}};

        dnssec-validation no;

};

zone "{{ startup_name }}" {
    type master;
    file "/etc/bind/db.clounsible";
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow {127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{transfer_key}}";
};
