zone "{{ startup_name }}" {
{% if inventory_hostname in groups['dns_master'] %}
    type primary;
    allow-transfer { key transfer.key; 127.0.0.1; };
{% else %}
    type secondary;
    masters { {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif %}
    file "/var/cache/bind/db.{{ startup_name }}";
};

{% if inventory_hostname not in groups['dns_master'] %}
server {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }} {
    keys {key transfer.key; };
};
{% endif %}
