acl lans { {%for network in dns_networks%} {{ network }}; {%endfor%} };

options {
        directory "/var/cache/bind";

        forwarders {
{%for forwarder in dns_forwarders-%} 
            {{ forwarder }};
{%endfor%}};

        dnssec-validation no;

};

statistics-channels {
  inet 127.0.0.1 port 8053 allow {127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ transfer_key }}";
};

key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ nsupdate_key }}";
};
